.row::after {/*following is creating breakpoint for displaying on desktop*/
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] { /* For mobile phones: */
  width: 100%;
  margin: auto;
}